<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>404 error page not found</title>
</head>
<body>
   <div class="container d-flex justify-content-center align-items-center flex-column">
         <h1>404 error</h1>
         <h2>your requested page not found</h2>
         <div id="image-container">
            <img src="https://landingstock.com/wp-content/uploads/Man_with_search_bar_free_illustration-600x450.jpg" alt="" width="300px" height="300px">
      </div>
        <a href="/" class="btn border border-dark text-danger">go back</a>
   </div>
</body>
</html>