<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
   <title>express js homepage</title>
      <link rel="stylesheet" href="main.css">
</head>
<body >
   {{>navbar}}
    
    <div class="container-fluid d-flex flex-column row flex-md-row justify-content-center align-items-center h-auto w-100">
       <div class=" text-center col-md-8 col-12 order-md-0 order-1">
          <h5 class="text-secondary">Welcome to live wheather app</h5>
          <h2 class="text-secondary">Get real time <span class="text-info">wheather</span> info of your city</h2>
          <a href="/wheather" class="btn btn-warning">check</a>
       </div>
       <div class="image-container col-md-6 col-12 container-fluid h-auto p-3 d-flex align-items-center justify-content-center w-auto">
            <img src="images/app.png" alt="" {{!--<id="appImage"</id>>--}} width="200px" height="200px">
            </div>
       </div>
    </div>
     
    {{>footer}}
   </div>
</body>
</html>